data/jesterfinal151cols.csv
playground/.Rhistory
playground/jokeRecommender.Rds
playground/jokes.Rds
scripts/R_Journal/csda1040-lab1/csda1040-lab1_files/
scripts/R_Journal/csda1040-lab1/jokeRecommender.Rds
scripts/R_Journal/csda1040-lab1/jokes.Rds
scripts/R_Journal/csda1040-lab1/csda1040-lab1.tex
scripts/R_Journal/csda1040-lab1/RJwrapper.pdf
